.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.star {
  --star-color: rgba(255, 255, 255, 0.8);
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  
  position: absolute;
  
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  
  transform: rotate(-45deg);
  opacity: 0;
  
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .star {
    --star-tail-length: 3em !important;
    animation-duration: calc(var(--fall-duration) * 0.7); 
  }
}

.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before { transform: rotate(45deg); }
.star::after { transform: rotate(-45deg); }

@keyframes fall {
  0% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
    opacity: 1;
  }
  
  100% {
    transform: translate3d(-100vmax, 100vmax, 0) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes blink {
  50% { opacity: 0.6; }
}