.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  background: #111;
  padding: 10px 0;
  box-sizing: border-box;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee-item {
  margin-right: 50px;
  color: #fff;
  font-size: 1.2rem;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* metade do total duplicado */
  }
}
