@media (pointer: fine) {
  body {
    cursor: none;
  }
}

.cursor {
  width: 30px;
  height: 30px;
  border: 2px solid #9849ff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; 
  mix-blend-mode: difference; 
  z-index: 9999; 
  background-color: rgba(152, 73, 255, 0.1); 
  backdrop-filter: blur(1px);
}

.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px; 
  width: 100%;
  background: #9849ff;
  transform-origin: 0%;
  z-index: 10000; 
  box-shadow: 0 0 10px #9849ff; 
}